$assets: '/assets';
$red : #F25356;
$green : rgba(46, 204, 113, 1);


@font-face {
  font-family: 'Apercu';
  src: url($assets + '/fonts/Apercu-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Apercu Mono';
  src: url($assets + '/fonts/Apercu-Mono.woff') format('woff');
  unicode-range: U+30-39;
}

@font-face {
  font-family: 'Schear Grotesk';
  src: url($assets + '/fonts/SchearGrotesk-Bold.woff') format('woff');
}




* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media (min-width: 800px) {
    font-size: 20px;
  }
}

body {
  background-color: #2f302f;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Apercu Mono", "Apercu", Georgia, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: "Apercu Mono", "Apercu", sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: #fff;
  opacity: 0.2;
}

input {
  background: #fff;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  width: 50px;
  color: #000;
  opacity: 0.2;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.header {
  background: rgba(0, 0, 0, 0.2);
  padding: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  @media (min-width: 800px) {
    padding: 20px 0 20px 20px;
  }

  .logo {
    line-height: 0;

    img {
      height: 20px;
      width: auto;

      @media (min-width: 800px) {
        height: 60px;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;

    a {
      padding: 20px 10px;
      display: inline-block;
      color: #fff;
    }
  }
}

.main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}


.board {
  position: relative;
  margin: 50px -20px 200px -20px;

  h1 {
    padding-left: 40px;
  }


  li, a.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    
    a {
      display: block;
    }


    &:nth-child(even) {
      background: rgba(0, 0, 0, 0.2);
    }

    &.top {
      background: none;
      opacity: 0.5;

      .icon {
        height: 30px;
        width: auto;
      }
    }


    > div {
      padding: 10px;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      @media (min-width: 800px) {
        padding: 20px;

        &:first-child {
          padding-left: 40px;
        }

        &:last-child {
          padding-right: 40px;
        }

      }


    }

    .avatar {
      justify-content: flex-start;

      img {
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
        width: 30px;
        height: 30px;

        @media (min-width: 800px) {
          width: 50px;
          height: 50px;
        }
      }

    }

    .rank {
      justify-content: flex-start;

      @media (min-width: 800px) {
        font-size: 1.5rem;
      }
    }

    .name {
      flex: 5;
      justify-content: flex-start;

      @media (min-width: 800px) {
        font-size: 1.5rem;
      }

      &.right {
        justify-content: flex-end;
      }
    }


    &.win {
      border-left: 10px solid $green;
    }

    &.loss {
      border-left: 10px solid $red;
    }
  }

  a.row:hover {
    text-decoration: none;
    .name {
      text-decoration: underline;
    }
  }


  .score {
    display: flex;
    flex: 3;
    flex-direction: column;

    .set {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .elo {
      flex: 1;
      font-size: 0.6rem;
      color: $green;

      &.minus {
        color: $red;
      }

      &.right {
        text-align: right;
      }
    }

    .res {
      text-align: center;
      flex: 2;
      margin: 0 5px;

      @media (min-width: 800px) {
        font-size: 1.5rem;
      }
    }
  }

  p.qualify {
    text-align: center;
    opacity: 0.5;
    font-size: 0.8rem;
    margin-top: 50px;
    a {
      text-decoration: underline;
      display: inline-block;
      width: auto;
      margin-right: 5px;

    }
  }

  &.single {
    ul {
      display: flex;
      flex-wrap: wrap;

      .winner {
        border: 8px solid $green;
        border-radius: 12px;
      }
      .looser {
        border: 8px solid $red;
        border-radius: 12px;
      }

      li {
        @media (min-width: 800px) {
          order: 3;
        }
      }


    }
  }
}


.card {
  width: 100%;
  max-width: 800px;
  background-position: center 25%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  justify-content: flex-end;
  padding: 30px;
  min-height: 500px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  
  a {
    display: block;

    &:hover {
      text-decoration: none;

      .name {
        text-decoration: underline;
      }
    }

  }

  &.board {
    margin: 10px;
    width: calc(100% - 20px);
    min-height: 250px;

    @media (min-width: 800px) {
      width: 48%;
      float: left;
      margin: 1%;
      min-height: 380px;

      &.rank-1 {
        float: none;
        margin: 1% auto;
      }
    }
  }

  .rank {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    font-size: 2rem;
    background: $red;
    color: #fff;
    border-bottom-right-radius: 8px;
  }


  .tint {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
    z-index: 0;
  }
  .info {
    position: relative;
    z-index: 1;

    .bottom{
      display: flex;
      margin-top: 30px;

      >span {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
      }
    }

    .elo {
      flex: 1;
    }
    .wins {
      margin-right: 50px;
    }
    .icon {
      height: 40px;
      width: auto;
      margin-right: 10px;


    }
    h1 {
      padding: 0;
    }
  }
}

.footer {

}