@font-face {
  font-family: 'Apercu';
  src: url("../../fonts/Apercu-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Apercu Mono';
  src: url("../../fonts/Apercu-Mono.woff") format("woff");
  unicode-range: U+30-39; }

@font-face {
  font-family: 'Schear Grotesk';
  src: url("../../fonts/SchearGrotesk-Bold.woff") format("woff"); }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (min-width: 800px) {
    html {
      font-size: 20px; } }

body {
  background-color: #2f302f;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Apercu Mono", "Apercu", Georgia, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: "Apercu Mono", "Apercu", sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

p {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: #fff;
  opacity: 0.2; }

input {
  background: #fff;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  width: 50px;
  color: #000;
  opacity: 0.2; }

input:focus,
input:active,
button:focus,
button:active {
  outline: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.header {
  background: rgba(0, 0, 0, 0.2);
  padding: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }
  @media (min-width: 800px) {
    .header {
      padding: 20px 0 20px 20px; } }
  .header .logo {
    line-height: 0; }
    .header .logo img {
      height: 20px;
      width: auto; }
      @media (min-width: 800px) {
        .header .logo img {
          height: 60px; } }
  .header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px; }
    .header .menu a {
      padding: 20px 10px;
      display: inline-block;
      color: #fff; }

.main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px; }

.board {
  position: relative;
  margin: 50px -20px 200px -20px; }
  .board h1 {
    padding-left: 40px; }
  .board li, .board a.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%; }
    .board li a, .board a.row a {
      display: block; }
    .board li:nth-child(even), .board a.row:nth-child(even) {
      background: rgba(0, 0, 0, 0.2); }
    .board li.top, .board a.row.top {
      background: none;
      opacity: 0.5; }
      .board li.top .icon, .board a.row.top .icon {
        height: 30px;
        width: auto; }
    .board li > div, .board a.row > div {
      padding: 10px;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end; }
      .board li > div:first-child, .board a.row > div:first-child {
        padding-left: 20px; }
      .board li > div:last-child, .board a.row > div:last-child {
        padding-right: 20px; }
      @media (min-width: 800px) {
        .board li > div, .board a.row > div {
          padding: 20px; }
          .board li > div:first-child, .board a.row > div:first-child {
            padding-left: 40px; }
          .board li > div:last-child, .board a.row > div:last-child {
            padding-right: 40px; } }
    .board li .avatar, .board a.row .avatar {
      justify-content: flex-start; }
      .board li .avatar img, .board a.row .avatar img {
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
        width: 30px;
        height: 30px; }
        @media (min-width: 800px) {
          .board li .avatar img, .board a.row .avatar img {
            width: 50px;
            height: 50px; } }
    .board li .rank, .board a.row .rank {
      justify-content: flex-start; }
      @media (min-width: 800px) {
        .board li .rank, .board a.row .rank {
          font-size: 1.5rem; } }
    .board li .name, .board a.row .name {
      flex: 5;
      justify-content: flex-start; }
      @media (min-width: 800px) {
        .board li .name, .board a.row .name {
          font-size: 1.5rem; } }
      .board li .name.right, .board a.row .name.right {
        justify-content: flex-end; }
    .board li.win, .board a.row.win {
      border-left: 10px solid #2ecc71; }
    .board li.loss, .board a.row.loss {
      border-left: 10px solid #F25356; }
  .board a.row:hover {
    text-decoration: none; }
    .board a.row:hover .name {
      text-decoration: underline; }
  .board .score {
    display: flex;
    flex: 3;
    flex-direction: column; }
    .board .score .set {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
    .board .score .elo {
      flex: 1;
      font-size: 0.6rem;
      color: #2ecc71; }
      .board .score .elo.minus {
        color: #F25356; }
      .board .score .elo.right {
        text-align: right; }
    .board .score .res {
      text-align: center;
      flex: 2;
      margin: 0 5px; }
      @media (min-width: 800px) {
        .board .score .res {
          font-size: 1.5rem; } }
  .board p.qualify {
    text-align: center;
    opacity: 0.5;
    font-size: 0.8rem;
    margin-top: 50px; }
    .board p.qualify a {
      text-decoration: underline;
      display: inline-block;
      width: auto;
      margin-right: 5px; }
  .board.single ul {
    display: flex;
    flex-wrap: wrap; }
    .board.single ul .winner {
      border: 8px solid #2ecc71;
      border-radius: 12px; }
    .board.single ul .looser {
      border: 8px solid #F25356;
      border-radius: 12px; }
    @media (min-width: 800px) {
      .board.single ul li {
        order: 3; } }

.card {
  width: 100%;
  max-width: 800px;
  background-position: center 25%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  justify-content: flex-end;
  padding: 30px;
  min-height: 500px;
  border-radius: 8px;
  position: relative;
  overflow: hidden; }
  .card a {
    display: block; }
    .card a:hover {
      text-decoration: none; }
      .card a:hover .name {
        text-decoration: underline; }
  .card.board {
    margin: 10px;
    width: calc(100% - 20px);
    min-height: 250px; }
    @media (min-width: 800px) {
      .card.board {
        width: 48%;
        float: left;
        margin: 1%;
        min-height: 380px; }
        .card.board.rank-1 {
          float: none;
          margin: 1% auto; } }
  .card .rank {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    font-size: 2rem;
    background: #F25356;
    color: #fff;
    border-bottom-right-radius: 8px; }
  .card .tint {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    z-index: 0; }
  .card .info {
    position: relative;
    z-index: 1; }
    .card .info .bottom {
      display: flex;
      margin-top: 30px; }
      .card .info .bottom > span {
        display: flex;
        align-items: center;
        font-size: 1.5rem; }
    .card .info .elo {
      flex: 1; }
    .card .info .wins {
      margin-right: 50px; }
    .card .info .icon {
      height: 40px;
      width: auto;
      margin-right: 10px; }
    .card .info h1 {
      padding: 0; }
